:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0.04em;

  color: #2e2f42;
  background-color: rgba(255, 255, 255, 0.87);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @supports (-webkit-text-size-adjust: 100%) {
    -webkit-text-size-adjust: 100%;
  }
  @supports (font-synthesis: none) {
    font-synthesis: none;
  }
}
